/* Global */

body {
  overflow: auto;
}

.d-flex {
  display: flex;
}

/* Register */

.authenticate-card {
  max-width: 500px;
  margin: auto;
}

.reg-container {
  padding-top: 120px;
  align-content: center;
}

.reg-card {
  margin-top: auto;
  margin-bottom: auto;
  max-width: 450px;
}

/* Pictures */

.logout-btn {
  position: absolute;
  right: 0px;
  margin: 5px 5px 0px;
}

.search-container {
  width: 100%;
  padding: 10px 5px 0px 5px;
}

.img-container {
  max-width: 1000px;
  margin: auto;
}

.format-img {
  width: 50%;
  height: 300px;
  object-fit: cover;
  padding: 10px;
}

@media (max-width: 600px) {
  .format-img {
    width: 100%;
  }
}
