/* Global */
.d-flex {
  display: flex;
}

/* Pictures */

.search-container {
  width: 100%;
  padding: 10px 5px 0px 5px;
}

.img-container {
  max-width: 1000px;
  margin: auto;
}

.format-img {
  width: 50%;
  height: 300px;
  object-fit: cover;
  padding: 10px;
}

@media (max-width: 600px) {
  .format-img {
    width: 100%;
  }
}
